@import '~@logora/debate.styles.theme/_theme.scss';
@import "~@logora/debate.styles.spacing/_spacing.scss";
@import "~@logora/debate.styles.flex/_flex.scss";
@import "~@logora/debate.styles.display/_display.scss";

:global(.logoraContainer) {
	.debateContext {
		box-shadow: $box-shadow;
		border: $box-border;
		color: $text-primary;
		border-radius: $box-border-radius;
		@include display(flex, xs);
		@include flex-direction(row, xs);
		@include flex-wrap(xs);
		@include justify-content(space-between, xs);
		@include mb(2, xs);
		@include px(3, xs);
		@include py(2, xs);
		svg {
			fill: $text-primary;
			fill-rule: evenodd;
		}
	}

	.debateDate {
		@include mb(2, xs);
		color: $text-secondary;
		font-size: $font-size-small;
	}

	.link {
        @include display(flex, xs);
        @include align-items(center, xs);
        @include py(2, xs);
        @include mb(2, xs);
        font-weight: $font-weight-bold;
        font-size: $font-size-extra-small;
        color: $text-secondary;
        width: fit-content;
        cursor: pointer;
        text-transform: uppercase;
        svg {
            @include mr(1, xs);
            fill: $text-secondary;
        }
        &:hover {
            color: $text-primary;
            svg {
                fill: $text-primary;
            }
        }
    }

	.firstUserBox {
		@include media-breakpoint-down(sm) {
			order: 1;
			@include mr(1, xs);
		}
	}

	.secondUserBox {
		@include media-breakpoint-down(sm) {
			order: 2;
			@include ml(1, xs);
		}
	}

	.firstUserBox, .secondUserBox {
		flex-grow: .5;
		@include media-breakpoint-down(sm) {
			width: 48%;
		}
	}

	.userBar {
		@include mt(1.5, xs);
		.userBarProgress {
			height: 12px;
			width: 100%;
			border-radius: $box-border-radius;
			background-color: $background-color-secondary !important;
		}
		.bar {
			&.position-1 {
				background-color: $for-primary !important;
			}
			&.position-2 {
				background-color: $against-primary !important;
			}
		}
		.userBarPercentage {
			font-weight: $font-weight-bold;
			&.position-1 {
				color: $for-primary !important;
			}
			&.position-2 {
				color: $against-primary !important;
			}
		}
	}

	.userVote {
		@include display(flex, xs);
		@include justify-content(center, xs);
		@include p(2, xs);
		@include mt(2.5, xs);
		&.position-1 {
			background-color: $for-primary !important;
		}
		&.position-2 {
			background-color: $against-primary !important;
		}
		border-radius: $box-border-radius;
		color: white;
		svg {
			@include mr(1, xs);
			fill: white;
		}
	}

	.debateTitleBox {
		flex-grow: 4;
		line-height: 1.4;
		@include display(flex, xs);
		@include flex-direction(column, xs);
		@include px(3, xs);
		@include media-breakpoint-up(xs) {
			width: 100%;
			@include mb(2, xs);
		}
		@include media-breakpoint-up(md) {
			min-width: 42% !important;
			max-width: 100% !important;
			flex-basis: calc((598px - 100%) * 999);
		}
		@include media-breakpoint-down(sm) {
			@include p(0, xs);
		}
	}

	.debateTitle {
		font-size: $font-size-large;
		font-weight: $font-weight-bold;
		@include mb(2, xs);
		overflow-wrap: break-word;
	}

	.debateSubtitleBox {
		@include display(flex, xs);
		@include flex-wrap(xs);
	}

	@media (max-width: 768px) {
		.debateSubtitleBox {
			font-size: $font-size-small;
		}
	}

	.debateDate {
		@include mr(2, xs);
		color: $text-secondary;
	}

	.debateTagList {
		@include display(flex, xs);
		@include flex-direction(row, xs);
		@include flex-wrap(xs);
	}

	.debateFooter {
		border-top: 1px solid $text-tertiary;
		@include pt(2.5, xs);
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	.debateFooterMobile {
		@include pt(2.5, xs);
		@include mt(2.5, xs);
		width: 100%;
		order: 3;
		border-top: 1px solid $text-tertiary;
		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	.debateNumbersBox {
		font-size: $font-size-large;
		font-weight: $font-weight-bold;
		@include display(flex, xs);
		@include flex-direction(row, xs);
		@include align-items(flex-start, xs);
		@include justify-content(flex-start, xs);
		@include py(2, xs);
		@include px(0, xs);
		margin-top: auto;
	}

	.debateNumberItem {
		@include display(flex, xs);
		@include flex-direction(row, xs);
		@include align-items(center, xs);
		@include justify-content(flex-start, xs);
		@include pr(3, xs);
		cursor: default;
	}

	.debateNumberIcon {
		text-align: left;
		@include p(0, xs);
		@include pr(2, xs);
	}

	.debateNumberContent {
		font-size: $font-size-large;
		text-align: left;
		@include p(0, xs);
	}

	.debateVoteBox {
		@include display(flex, xs);
		@include flex-direction(column, xs);
		@include align-items(center, xs);
		@include justify-content(center, xs);
		@include py(1, xs);
		@include py(3, sm);
		@include px(0, xs);
		@include order(2, xs);
		@include order(3, sm);
		@include media-breakpoint-up(xs) {
			width: 100%;
		}
		@include media-breakpoint-up(sm) {
			min-width: 33% !important;
			max-width: 100% !important;
			flex-basis: calc((598px - 100%) * 999);
			background: $text-tertiary;
			border: 0;
		}
		border-top: 1px solid $text-tertiary;
		border-bottom: 1px solid $text-tertiary;
	}

	.debateClosedScoreBox {
		@extend .debateVoteBox;
		@include justify-content(flex-start, xs);
		@include pt(0, xs);
		@include pb(0, xs);
		@include media-breakpoint-up(sm) {
			min-width: 58% !important;
		}
	}
	
	.debateRightBox {
		width: 100%;
		height: 100%;
		@include display(flex, xs);
		@include align-items(center, xs);
		@include media-breakpoint-up(md) {
			@include pt(4, xs);
		}
	}

	.debateUnstarded {
		@include display(flex, xs);
		@include flex-direction(column, xs);
	}

	.debateActionsBox {
		@include display(flex, xs);
		@include flex-direction(row, xs);
		@include align-items(center, xs);
		@include mb(2.5, xs);
		font-size: $font-size-small;
		@include media-breakpoint-up(xs) {
			width: 100%;
		}
	}

	.debateActionsBoxContent {
		@include display(flex, xs);
		@include flex-direction(row, xs);
		@include flex-direction(column, sm);
		@include justify-content(space-between, xs);
		@include justify-content(center, sm);
		@include align-items(center, xs);
		height: 100%;
		width: 100%;
	}

	.debateFollowActionBox {
		text-align: center;
		@include p(0, xs);
		@include display(flex, xs);
		@include align-items(center, xs);
		svg {
			@include mr(1, xs);
		}
	}

	.debateShareAction {
		@include display(flex, xs);
		@include flex-direction(row, xs);
		@include justify-content(center, xs);
		@include p(0, xs);
		@include mr(4, xs);
	}

	.debateFollowAction {
		@include pr(1, xs);
	}

	.tagItem {
		@include mb(2.5, xs);
		white-space: nowrap;
	}
}
