@import '~@logora/debate.styles.theme/_theme.scss';

button.followUserButton {
  font-weight: $font-weight-bold;
  padding: 10px;
  display: flex;
  align-items: center;
  &:hover {
    filter: brightness(110%);
  }
}

button span.followIcon {
  font-size: $font-size-large;
  margin-left: 10px;
}