@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';
@import '~@logora/debate.styles.flex/_flex.scss';
@import '~@logora/debate.styles.display/_display.scss';


:global(.logoraContainer) {
  .nextBadgesBox {
    @include mb(5, xs);
    @include px(0, xs);
    @include make-col-ready();
    @include make-col(12);
  }

  .nextBadgesBoxHeader {
    text-align: left;
    font-weight: $font-weight-bold;
    @include mb(3, xs);
    font-size: $font-size-large;
  }

  .nextBadgesBoxContent {
    @include display(flex, xs);
    @include flex-direction(row, xs);
    @include flex-wrap(xs);
  }

  .badgesBox {
    @include px(0, xs);
    @include mb(5, xs);
    @include make-col-ready();
    @include make-col(12);
  }

  .badgeBoxHeader {
    text-align: left;
    font-weight: $font-weight-bold;
    @include mb(4, xs);
    @include mt(2, xs);
    font-size: $font-size-large;
  }

  .badgesBoxContent {
    @include display(flex, xs);
    @include flex-direction(row, xs);
    @include flex-wrap(xs);
    @include make-col(12);
    @include media-breakpoint-down(sm) {
      @include justify-content(center, xs);
    }
  }

  .emptyBadges {
    @include mt(2, xs);
  }
}