@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';
@import '~@logora/debate.styles.flex/_flex.scss';
@import '~@logora/debate.styles.display/_display.scss';

:global(.logoraContainer) {
    .title {
        @include mt(4, xs);
        @include mb(1, xs);
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
    }
    .titleDescription {
        @include mt(2.5, xs);
    }
    .descriptionBox {
        @include p(3, xs);
        @include my(2, xs);
        @include mt(2.5, xs);
        height: 100%;
        row-gap: 0.5em;
        border-radius: $box-border-radius;
        box-shadow: $box-shadow;
        border: $box-border;
    }
    .rewards{
        @include display(flex, xs);
        @include flex-wrap(xs);
        column-gap: 1em;
        .rewardContainer {
            width: 48.5%;
        }
        .rewardContainerMobile {
            @include mt(1.5, xs);
            @include mb(3, xs);
        }
    }
    .points {
        @include display(flex, xs);
        @include flex-wrap(xs);
        @include mb(4, xs);
        column-gap: 1em;
        .score {
            @include my(1, xs);
            font-size: $font-size-small;
            color: $text-secondary;
        }
        .action {
            @include display(flex, xs);
            @include flex-direction(column, xs);
            color: $text-secondary;
            .gain {
                @include mt(1, xs);
                color: black;
                font-size: $font-size-small;
                font-weight: $font-weight-bold;
            }
            svg {
                @include ml(1, xs);
                display: inline-block;
            }
        }
        .suggestionIcon {
            svg {
                path {
                    fill: transparent;
                    stroke: white;
                }
            }
        }
        .versusIcon {
            svg {
                fill: white;
                path {
                    fill: $call-primary;
                }
            }
        }
    }
    .pointsContainer {
        width: 48.5%;
    }
    .pointsContainerMobile {
        width: 100%;
    }
    .linkContainer {
        @include display(flex, xs);
        @include mb(1, xs);
        @include mt(3, xs);
        .link {
            @include display(flex, xs);
            @include align-items(center, xs);
            @include py(2, xs);
            font-weight: $font-weight-bold;
            font-size: $font-size-extra-small;
            color: $text-secondary;
            width: fit-content;
            cursor: pointer;
            text-transform: uppercase;
            svg {
                @include mr(1, xs);
                fill: $text-secondary;
            }
            &:hover {
                color: $text-primary;
                svg {
                    fill: $text-primary;
                }
            }
        }
    }
}