@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';
@import '~@logora/debate.styles.flex/_flex.scss';
@import '~@logora/debate.styles.display/_display.scss';


:global(.logoraContainer) {
    .container {
        @include display(flex, xs);
        @include p(3, xs);
        position: relative;
        font-size: $font-size-small;
        border-radius: $box-border-radius;
        box-shadow: $box-shadow;
        border: $box-border;
    }

    .imageContainer {
        .image {
            @include mr(2.5, xs);
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
        svg {
            @include mr(2.5, xs);
            fill: $call-primary;
        }
    }

    .textContainer {
        .timeAgo {
            font-weight: $font-weight-normal;
            color: $text-secondary;
            font-size: $font-size-extra-small;
        }
    }

    .textLink {
        &:hover {
            text-decoration: underline;
        }
    }
}