@import '~@logora/debate.styles.theme/_theme.scss';
@import '~@logora/debate.styles.spacing/_spacing.scss';
@import '~@logora/debate.styles.flex/_flex.scss';
@import '~@logora/debate.styles.display/_display.scss';


:global(.logoraContainer) {
    .proposalBoxFooterContainer{
        @include display(flex, xs);
        @include flex-direction(row, xs);
    }

    .proposalMoreActions {
        margin-left: auto;
    }

    .dropdownItem {
        @include display(block, xs);
        @include p(2, xs);
        cursor: pointer;
    }

    .dropdownItem:hover  {
        color: $call-primary;
    }

    .totalPercentage {
        font-size: $font-size-normal;
        color: $call-primary;
        @include pr(2, xs);
    }

    .totalVotes {
        font-size: $font-size-extra-small;
    }

    .shareProposal {
        font-size: $font-size-small;
    }
}